# Renombrar a .gitignore en la raiz del proyecto

# Maven
target/
*.iml

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# Logs
*.log

# Secretos
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# Tomcat
work/
